USE [master]
GO
/****** Object:  Database [GanadoControlDB]    Script Date: 23/10/2025 20:07:14 ******/
CREATE DATABASE [GanadoControlDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GanadoControlDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GanadoControlDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GanadoControlDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GanadoControlDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GanadoControlDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GanadoControlDB]
GO
/****** Object:  User [GanadoControlAdmin]    Script Date: 23/10/2025 20:07:14 ******/
CREATE USER [GanadoControlAdmin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[GanadoControlAdmin]
GO
/****** Object:  DatabaseRole [Administrador]    Script Date: 23/10/2025 20:07:14 ******/
CREATE ROLE [Administrador]
GO
ALTER ROLE [Administrador] ADD MEMBER [GanadoControlAdmin]
GO
/****** Object:  Schema [GanadoControlAdmin]    Script Date: 23/10/2025 20:07:14 ******/
CREATE SCHEMA [GanadoControlAdmin]
GO
/****** Object:  Table [dbo].[Ganado]    Script Date: 23/10/2025 20:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ganado](
	[IdGanado] [varchar](30) NOT NULL,
	[Raza] [varchar](40) NULL,
	[Peso] [real] NULL,
	[FechaNacimiento] [date] NULL,
	[Tipo] [varchar](30) NULL,
	[IdPadre] [varchar](30) NULL,
	[IdMadre] [varchar](30) NULL,
	[IdGrupo] [int] NULL,
	[Estado] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermedad]    Script Date: 23/10/2025 20:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermedad](
	[IdEnfermedad] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnfermedadesGanado]    Script Date: 23/10/2025 20:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnfermedadesGanado](
	[IdEnfermedadesGanado] [int] IDENTITY(0,1) NOT NULL,
	[IdGanado] [varchar](30) NULL,
	[idEnfermedad] [int] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnfermedadesGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaEnfermedadesGanado]    Script Date: 23/10/2025 20:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaEnfermedadesGanado] AS
SELECT MAX(CASE WHEN e.IdEnfermedad = 0 THEN 1 ELSE 0 END) AS [acetonaemia], MAX(CASE WHEN e.IdEnfermedad = 1 THEN 1 ELSE 0 END) AS [carbunco_sintomático], MAX(CASE WHEN e.IdEnfermedad = 2 THEN 1 ELSE 0 END) AS [timpanismo], MAX(CASE WHEN e.IdEnfermedad = 3 THEN 1 ELSE 0 END) AS [difteria_del_ternero], MAX(CASE WHEN e.IdEnfermedad = 4 THEN 1 ELSE 0 END) AS [neumonía_del_ternero], MAX(CASE WHEN e.IdEnfermedad = 5 THEN 1 ELSE 0 END) AS [coccidiosis], MAX(CASE WHEN e.IdEnfermedad = 6 THEN 1 ELSE 0 END) AS [criptosporidiosis], MAX(CASE WHEN e.IdEnfermedad = 7 THEN 1 ELSE 0 END) AS [desplazamiento_del_abomaso], MAX(CASE WHEN e.IdEnfermedad = 8 THEN 1 ELSE 0 END) AS [síndrome_del_hígado_graso], MAX(CASE WHEN e.IdEnfermedad = 9 THEN 1 ELSE 0 END) AS [fiebre_de_los_pastos], MAX(CASE WHEN e.IdEnfermedad = 10 THEN 1 ELSE 0 END) AS [fiebre_aftosa], MAX(CASE WHEN e.IdEnfermedad = 11 THEN 1 ELSE 0 END) AS [podredumbre_del_pie], MAX(CASE WHEN e.IdEnfermedad = 12 THEN 1 ELSE 0 END) AS [gusanos_intestinales], MAX(CASE WHEN e.IdEnfermedad = 13 THEN 1 ELSE 0 END) AS [rinotraqueítis_infecciosa_bovina], MAX(CASE WHEN e.IdEnfermedad = 14 THEN 1 ELSE 0 END) AS [listeriosis], MAX(CASE WHEN e.IdEnfermedad = 15 THEN 1 ELSE 0 END) AS [fascíola_hepática], MAX(CASE WHEN e.IdEnfermedad = 16 THEN 1 ELSE 0 END) AS [mastitis], MAX(CASE WHEN e.IdEnfermedad = 17 THEN 1 ELSE 0 END) AS [enteritis_necrótica], MAX(CASE WHEN e.IdEnfermedad = 18 THEN 1 ELSE 0 END) AS [diarrea_del_destete], MAX(CASE WHEN e.IdEnfermedad = 19 THEN 1 ELSE 0 END) AS [envenenamiento_por_hierba_de_Santiago], MAX(CASE WHEN e.IdEnfermedad = 20 THEN 1 ELSE 0 END) AS [fiebre_del_valle_del_Rift], MAX(CASE WHEN e.IdEnfermedad = 21 THEN 1 ELSE 0 END) AS [acidosis_ruminal], MAX(CASE WHEN e.IdEnfermedad = 22 THEN 1 ELSE 0 END) AS [virus_de_Schmallenberg], MAX(CASE WHEN e.IdEnfermedad = 23 THEN 1 ELSE 0 END) AS [reticulitis_traumática], MAX(CASE WHEN e.IdEnfermedad = 24 THEN 1 ELSE 0 END) AS [tripanosomosis], MAX(CASE WHEN e.IdEnfermedad = 25 THEN 1 ELSE 0 END) AS [lengua_de_madera] FROM Ganado g
LEFT JOIN EnfermedadesGanado eg ON g.IdGanado = eg.IdGanado
LEFT JOIN Enfermedad e ON eg.IdEnfermedad = e.IdEnfermedad
GROUP BY g.IdGanado;
GO
/****** Object:  Table [dbo].[DetalleSintoma]    Script Date: 23/10/2025 20:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleSintoma](
	[IdSintoma] [int] NULL,
	[IdGanado] [varchar](30) NULL,
	[IdEnfermedadTratamiento] [int] NULL,
	[Descripcion] [varchar](255) NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sintoma]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sintoma](
	[IdSintoma] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSintoma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VacaSintomasEnfermedadesConEnfermedades]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VacaSintomasEnfermedadesConEnfermedades] AS
SELECT 
    MAX(CASE WHEN s.Nombre = 'Pérdida de apetito' THEN 1 ELSE 0 END) AS [Pérdida_de_apetito],
    MAX(CASE WHEN s.Nombre = 'Fiebre' THEN 1 ELSE 0 END) AS [Fiebre],
    MAX(CASE WHEN s.Nombre = 'Diarrea' THEN 1 ELSE 0 END) AS [Diarrea],
    MAX(CASE WHEN s.Nombre = 'Tos' THEN 1 ELSE 0 END) AS [Tos],
    MAX(CASE WHEN s.Nombre = 'Dificultad para respirar' THEN 1 ELSE 0 END) AS [Dificultad_para_respirar],
    MAX(CASE WHEN s.Nombre = 'Secreción nasal o ocular' THEN 1 ELSE 0 END) AS [Secreción_nasal_o_ocular],
    MAX(CASE WHEN s.Nombre = 'Cojera o dificultad para moverse' THEN 1 ELSE 0 END) AS [Cojera_o_dificultad_para_moverse],
    MAX(CASE WHEN s.Nombre = 'Pérdida de peso' THEN 1 ELSE 0 END) AS [Pérdida_de_peso],
    MAX(CASE WHEN s.Nombre = 'Salivación excesiva' THEN 1 ELSE 0 END) AS [Salivación_excesiva],
    MAX(CASE WHEN s.Nombre = 'Inflamación en las articulaciones' THEN 1 ELSE 0 END) AS [Inflamación_en_las_articulaciones],
    MAX(CASE WHEN s.Nombre = 'Lesiones o erupciones en la piel' THEN 1 ELSE 0 END) AS [Lesiones_o_erupciones_en_la_piel],
    MAX(CASE WHEN s.Nombre = 'Baja producción de leche (en vacas lecheras)' THEN 1 ELSE 0 END) AS [Baja_producción_de_leche_(en_vacas_lecheras)],
    MAX(CASE WHEN s.Nombre = 'Letargo o debilidad general' THEN 1 ELSE 0 END) AS [Letargo_o_debilidad_general],
    MAX(CASE WHEN s.Nombre = 'Aborto o problemas reproductivos' THEN 1 ELSE 0 END) AS [Aborto_o_problemas_reproductivos],
    MAX(CASE WHEN s.Nombre = 'Cambios en el comportamiento como agresividad o aislamiento' THEN 1 ELSE 0 END) AS [Cambios_en_el_comportamiento_como_agresividad_o_aislamiento],
    (SELECT TOP 1 e.Nombre
     FROM EnfermedadesGanado eg2
     LEFT JOIN Enfermedad e ON eg2.IdEnfermedad = e.IdEnfermedad
     WHERE eg2.IdGanado = g.IdGanado) AS [Enfermedad]
FROM Ganado g
LEFT JOIN DetalleSintoma ds ON g.IdGanado = ds.IdGanado
LEFT JOIN Sintoma s ON ds.IdSintoma = s.IdSintoma
WHERE EXISTS (
    SELECT 1
    FROM EnfermedadesGanado eg
    WHERE eg.IdGanado = g.IdGanado
)
GROUP BY g.IdGanado;
GO
/****** Object:  View [dbo].[VacaSintomasEnfermedad]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VacaSintomasEnfermedad] AS
SELECT 
    eg.IdGanado,
    MAX(CASE WHEN s.Nombre = 'Pérdida de apetito' THEN 1 ELSE 0 END) AS [Pérdida_de_apetito],
    MAX(CASE WHEN s.Nombre = 'Fiebre' THEN 1 ELSE 0 END) AS [Fiebre],
    MAX(CASE WHEN s.Nombre = 'Diarrea' THEN 1 ELSE 0 END) AS [Diarrea],
    MAX(CASE WHEN s.Nombre = 'Tos' THEN 1 ELSE 0 END) AS [Tos],
    MAX(CASE WHEN s.Nombre = 'Dificultad para respirar' THEN 1 ELSE 0 END) AS [Dificultad_para_respirar],
    MAX(CASE WHEN s.Nombre = 'Secreción nasal o ocular' THEN 1 ELSE 0 END) AS [Secreción_nasal_o_ocular],
    MAX(CASE WHEN s.Nombre = 'Cojera o dificultad para moverse' THEN 1 ELSE 0 END) AS [Cojera_o_dificultad_para_moverse],
    MAX(CASE WHEN s.Nombre = 'Pérdida de peso' THEN 1 ELSE 0 END) AS [Pérdida_de_peso],
    MAX(CASE WHEN s.Nombre = 'Salivación excesiva' THEN 1 ELSE 0 END) AS [Salivación_excesiva],
    MAX(CASE WHEN s.Nombre = 'Inflamación en las articulaciones' THEN 1 ELSE 0 END) AS [Inflamación_en_las_articulaciones],
    MAX(CASE WHEN s.Nombre = 'Lesiones o erupciones en la piel' THEN 1 ELSE 0 END) AS [Lesiones_o_erupciones_en_la_piel],
    MAX(CASE WHEN s.Nombre = 'Baja producción de leche (en vacas lecheras)' THEN 1 ELSE 0 END) AS [Baja_producción_de_leche],
    MAX(CASE WHEN s.Nombre = 'Letargo o debilidad general' THEN 1 ELSE 0 END) AS [Letargo_o_debilidad_general],
    MAX(CASE WHEN s.Nombre = 'Aborto o problemas reproductivos' THEN 1 ELSE 0 END) AS [Aborto_o_problemas_reproductivos],
    MAX(CASE WHEN s.Nombre = 'Cambios en el comportamiento como agresividad o aislamiento' THEN 1 ELSE 0 END) AS [Cambios_en_el_comportamiento],
    -- Obtener una sola enfermedad
    (SELECT TOP 1 e.Nombre
     FROM EnfermedadesGanado eg2
     LEFT JOIN Enfermedad e ON eg2.IdEnfermedad = e.IdEnfermedad
     WHERE eg2.IdGanado = eg.IdGanado) AS [Enfermedad]
FROM EnfermedadesGanado eg
LEFT JOIN DetalleSintoma ds ON eg.IdGanado = ds.IdGanado
LEFT JOIN Sintoma s ON ds.IdSintoma = s.IdSintoma
GROUP BY eg.IdGanado;
GO
/****** Object:  Table [dbo].[DetalleFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFinca](
	[IdUsuario] [int] NOT NULL,
	[IdFinca] [int] NOT NULL,
	[Fecha] [date] NULL,
	[RolUsuario] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFincaFoto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFincaFoto](
	[IdFinca] [int] NULL,
	[FotoURL] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleGanado](
	[IdGanado] [varchar](30) NULL,
	[FotoURL] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleGrupoFoto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleGrupoFoto](
	[IdGrupo] [int] NULL,
	[FotoURL] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](125) NULL,
	[Descripcion] [varchar](255) NULL,
	[FotoURL] [varchar](255) NULL,
	[URL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnfermedadTratamiento]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnfermedadTratamiento](
	[IdEnfermedadTratamiento] [int] IDENTITY(0,1) NOT NULL,
	[IdEnfermedadesGanado] [int] NULL,
	[IdTratamiento] [int] NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnfermedadTratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmaco]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmaco](
	[IdFarmaco] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[NombreProveedor] [varchar](30) NULL,
	[Tipo] [varchar](30) NULL,
	[UnidadMedida] [varchar](10) NULL,
	[FechaCaducidad] [date] NULL,
	[FechaEntrega] [date] NULL,
	[Precio] [real] NULL,
	[Cantidad] [int] NULL,
	[FotoURL] [varchar](255) NULL,
	[IdFinca] [int] NULL,
	[Disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFarmaco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finca](
	[IdFinca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Ubicacion] [varchar](100) NULL,
	[Hectareas] [real] NULL,
	[NombreDueño] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[IdFinca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inseminacion]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inseminacion](
	[IdGanado] [varchar](30) NOT NULL,
	[FechaInseminacion] [date] NOT NULL,
	[IdInseminacion] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInseminacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parto](
	[IdParto] [int] IDENTITY(1,1) NOT NULL,
	[IdGanado] [varchar](30) NULL,
	[Tipo] [varchar](30) NULL,
	[Exitoso] [bit] NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemaFisico]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemaFisico](
	[IdProblemaFisico] [int] IDENTITY(1,1) NOT NULL,
	[IdGanado] [varchar](30) NULL,
	[NombreParte] [varchar](30) NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProblemaFisico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recordatorio]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recordatorio](
	[IdRecordatorio] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Titulo] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
	[IdGanado] [varchar](30) NULL,
	[IdFarmaco] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecordatorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[IdTratamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdGanado] [varchar](30) NULL,
	[IdFarmaco] [int] NULL,
	[Fecha] [date] NULL,
	[TIpo] [varchar](30) NULL,
	[Dosis] [real] NULL,
	[Observacion] [varchar](50) NULL,
	[AreaAplicacion] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](30) NULL,
	[Contraseña] [varbinary](max) NULL,
	[Correo] [varchar](30) NULL,
	[Activo] [bit] NULL,
	[Cargo] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [FK__DetalleFi__IdFin__4AB81AF0]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__DetalleFi__IdFin__4AB81AF0] ON [dbo].[DetalleFincaFoto]
(
	[IdFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__DetalleGa__IdGan__46E78A0C]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__DetalleGa__IdGan__46E78A0C] ON [dbo].[DetalleGanado]
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK__DetalleGr__IdGru__4E88ABD4]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__DetalleGr__IdGru__4E88ABD4] ON [dbo].[DetalleGrupoFoto]
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK__Farmaco__IdFinca__1AD3FDA4]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Farmaco__IdFinca__1AD3FDA4] ON [dbo].[Farmaco]
(
	[IdFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK__Ganado__IdGrupo__3D2915A8]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Ganado__IdGrupo__3D2915A8] ON [dbo].[Ganado]
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__Ganado__IdMadre__2D27B809]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Ganado__IdMadre__2D27B809] ON [dbo].[Ganado]
(
	[IdPadre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__Ganado__IdPadre__2C3393D0]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Ganado__IdPadre__2C3393D0] ON [dbo].[Ganado]
(
	[IdMadre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Ganado_Raza]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [IDX_Ganado_Raza] ON [dbo].[Ganado]
(
	[Raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK__Grupo__IdFinca__3C34F16F]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Grupo__IdFinca__3C34F16F] ON [dbo].[Grupo]
(
	[IdFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__Inseminac__IdGan__38996AB5]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Inseminac__IdGan__38996AB5] ON [dbo].[Inseminacion]
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__Parto__IdGanado__3B75D760]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Parto__IdGanado__3B75D760] ON [dbo].[Parto]
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__ProblemaF__IdGan__5165187F]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__ProblemaF__IdGan__5165187F] ON [dbo].[ProblemaFisico]
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__Recordato__IdGan__44FF419A]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Recordato__IdGan__44FF419A] ON [dbo].[Recordatorio]
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK__Tratamien__IdGan__412EB0B6]    Script Date: 23/10/2025 20:07:15 ******/
CREATE NONCLUSTERED INDEX [FK__Tratamien__IdGan__412EB0B6] ON [dbo].[Tratamiento]
(
	[IdGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Nombre_Contraseña]    Script Date: 23/10/2025 20:07:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Nombre_Contraseña] ON [dbo].[Usuario]
(
	[NombreUsuario] ASC
)
INCLUDE([Contraseña]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Usuario_Correo]    Script Date: 23/10/2025 20:07:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Usuario_Correo] ON [dbo].[Usuario]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleFinca]  WITH CHECK ADD FOREIGN KEY([IdFinca])
REFERENCES [dbo].[Finca] ([IdFinca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleFinca]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[DetalleFincaFoto]  WITH CHECK ADD FOREIGN KEY([IdFinca])
REFERENCES [dbo].[Finca] ([IdFinca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleGanado]  WITH CHECK ADD  CONSTRAINT [FK__DetalleGa__IdGan__46E78A0C] FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleGanado] CHECK CONSTRAINT [FK__DetalleGa__IdGan__46E78A0C]
GO
ALTER TABLE [dbo].[DetalleGrupoFoto]  WITH CHECK ADD FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleSintoma]  WITH CHECK ADD FOREIGN KEY([IdEnfermedadTratamiento])
REFERENCES [dbo].[EnfermedadTratamiento] ([IdEnfermedadTratamiento])
GO
ALTER TABLE [dbo].[DetalleSintoma]  WITH CHECK ADD FOREIGN KEY([IdEnfermedadTratamiento])
REFERENCES [dbo].[EnfermedadTratamiento] ([IdEnfermedadTratamiento])
GO
ALTER TABLE [dbo].[DetalleSintoma]  WITH CHECK ADD FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
GO
ALTER TABLE [dbo].[DetalleSintoma]  WITH CHECK ADD FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
GO
ALTER TABLE [dbo].[DetalleSintoma]  WITH CHECK ADD FOREIGN KEY([IdSintoma])
REFERENCES [dbo].[Sintoma] ([IdSintoma])
GO
ALTER TABLE [dbo].[EnfermedadesGanado]  WITH CHECK ADD FOREIGN KEY([idEnfermedad])
REFERENCES [dbo].[Enfermedad] ([IdEnfermedad])
GO
ALTER TABLE [dbo].[EnfermedadesGanado]  WITH CHECK ADD FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
GO
ALTER TABLE [dbo].[EnfermedadTratamiento]  WITH CHECK ADD FOREIGN KEY([IdEnfermedadesGanado])
REFERENCES [dbo].[EnfermedadesGanado] ([IdEnfermedadesGanado])
GO
ALTER TABLE [dbo].[EnfermedadTratamiento]  WITH CHECK ADD FOREIGN KEY([IdTratamiento])
REFERENCES [dbo].[Tratamiento] ([IdTratamiento])
GO
ALTER TABLE [dbo].[Farmaco]  WITH CHECK ADD FOREIGN KEY([IdFinca])
REFERENCES [dbo].[Finca] ([IdFinca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ganado]  WITH CHECK ADD FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ganado]  WITH CHECK ADD FOREIGN KEY([IdMadre])
REFERENCES [dbo].[Ganado] ([IdGanado])
GO
ALTER TABLE [dbo].[Ganado]  WITH CHECK ADD FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Ganado] ([IdGanado])
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD FOREIGN KEY([IdFinca])
REFERENCES [dbo].[Finca] ([IdFinca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inseminacion]  WITH CHECK ADD  CONSTRAINT [FK__Inseminac__IdGan__38996AB5] FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inseminacion] CHECK CONSTRAINT [FK__Inseminac__IdGan__38996AB5]
GO
ALTER TABLE [dbo].[Parto]  WITH CHECK ADD  CONSTRAINT [FK__Parto__IdGanado__3B75D760] FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parto] CHECK CONSTRAINT [FK__Parto__IdGanado__3B75D760]
GO
ALTER TABLE [dbo].[ProblemaFisico]  WITH CHECK ADD  CONSTRAINT [FK__ProblemaF__IdGan__5165187F] FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProblemaFisico] CHECK CONSTRAINT [FK__ProblemaF__IdGan__5165187F]
GO
ALTER TABLE [dbo].[Recordatorio]  WITH CHECK ADD  CONSTRAINT [FK__Recordato__IdGan__44FF419A] FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recordatorio] CHECK CONSTRAINT [FK__Recordato__IdGan__44FF419A]
GO
ALTER TABLE [dbo].[Recordatorio]  WITH CHECK ADD  CONSTRAINT [FK_FARMACO] FOREIGN KEY([IdFarmaco])
REFERENCES [dbo].[Farmaco] ([IdFarmaco])
GO
ALTER TABLE [dbo].[Recordatorio] CHECK CONSTRAINT [FK_FARMACO]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD FOREIGN KEY([IdFarmaco])
REFERENCES [dbo].[Farmaco] ([IdFarmaco])
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK__Tratamien__IdGan__412EB0B6] FOREIGN KEY([IdGanado])
REFERENCES [dbo].[Ganado] ([IdGanado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK__Tratamien__IdGan__412EB0B6]
GO
/****** Object:  StoredProcedure [dbo].[uspActualizarFarmaco]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspActualizarFarmaco] @idFarmaco int,
							@nombre varchar(30), @proveedor varchar(30), @tipo varchar(30), @unidadMedida varchar(10),
							@fechaCaducidad date, @fechaEntrega date, @precio float(2), @cantidad int,
							@fotoUrl varchar(255), @idFinca int
as
	update Farmaco set Nombre = @nombre, NombreProveedor = @proveedor, Tipo = @tipo, UnidadMedida = @unidadMedida,
				FechaCaducidad = @fechaCaducidad, FechaEntrega = @fechaEntrega, Precio = @precio, Cantidad = @cantidad,
				IdFinca = @idFinca, FotoURL = @fotoUrl
	where IdFarmaco = @idFarmaco
GO
/****** Object:  StoredProcedure [dbo].[uspActualizarProblemaFisico]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspActualizarProblemaFisico] @idProblema int,@idGanado varchar(30), @nombreParte varchar(30),
									@descripcion varchar(100)
as 
	update ProblemaFisico set IdGanado = @idGanado, NombreParte = @nombreParte, Descripcion = @descripcion
	where IdProblemaFisico = @idProblema
GO
/****** Object:  StoredProcedure [dbo].[uspActualizarRecordatorio]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspActualizarRecordatorio] @idrecordatorio int, @fecha date, @titulo varchar(50), @descripcion varchar(100),
									@idGanado varchar(30),@idFarmaco int
as
	update Recordatorio set Fecha = @fecha, Titulo = @titulo, Descripcion = @descripcion, IdFarmaco = @idFarmaco, IdGanado = @idGanado
	where IdRecordatorio = @idrecordatorio
GO
/****** Object:  StoredProcedure [dbo].[uspActualizarUsuario]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspActualizarUsuario] @idUsuario int ,@nombreUsuario varchar(50), 
								@contraseñaVieja varchar(255), @contraseñaNueva varchar(255)
as
	Open symmetric key SK DECRYPTION BY PASSWORD='p4ssw#rDp4ssw#rD'
	--select DECRYPTBYKEY(Contraseña) from Usuario where IdUsuario = @idUsuario
	--if((select DECRYPTBYKEY(Contraseña) from Usuario where IdUsuario = @idUsuario) = @contraseñaVieja)
	--begin
	--	select 'Iguales'
	--end
	if not exists (select IdUsuario from Usuario 
				where IdUsuario = @idUsuario 
				and DECRYPTBYKEY(Contraseña) = @contraseñaVieja
				and Activo = 1)
					throw 50000, 'No se pueden actualizar los datos del usuario',1
	if(@contraseñaNueva<>@contraseñaVieja and @contraseñaNueva is not null)
		begin
			update Usuario set Contraseña = ENCRYPTBYKEY(KEY_GUID('SK'), CONVERT(VARBINARY(60),@contraseñaNueva))
			where IdUsuario = @idUsuario
		end
	if exists (select IdUsuario from Usuario where IdUsuario <> @idUsuario and NombreUsuario = @nombreUsuario)
		throw 50000, 'Ese nombre de usuario ya está en uso, pruebe otro',1
	--if not exists (select IdUsuario from Usuario where IdUsuario = @idUsuario and NombreUsuario = @nombreUsuario)
	update Usuario set NombreUsuario = @nombreUsuario where IdUsuario = @idUsuario
	close symmetric key SK
GO
/****** Object:  StoredProcedure [dbo].[uspCambiarEstadoUsuario]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspCambiarEstadoUsuario] @idUsuario int, @estado bit
as
	update Usuario set Activo = @estado where IdUsuario = @idUsuario
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarFarmaco]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[uspEliminarFarmaco] @idFarmaco int
as
	delete from Recordatorio where IdFarmaco = @idFarmaco
	delete from Farmaco where IdFarmaco = @idFarmaco
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarFinca] @id int
as
	delete from Finca where IdFinca = @id
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarGrupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarGrupo] @id int
as
	delete from Grupo where IdGrupo = @id
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarInseminacion]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarInseminacion] @id int
as
	delete from Inseminacion where IdInseminacion = @id
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarParto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarParto] @id int 
as
	delete from Parto where IdParto = @id
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarProblemaFisico]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarProblemaFisico] @idProblemaFisico int
as
	delete from ProblemaFisico where IdProblemaFisico = @idProblemaFisico
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarRecordatorio]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarRecordatorio] @idRecordatorio int
as
	delete from Recordatorio where IdRecordatorio = @idRecordatorio
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarTratamiento]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspEliminarTratamiento] @id int
as
	delete from Tratamiento where IdTratamiento = @id
GO
/****** Object:  StoredProcedure [dbo].[uspGetAllFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[uspGetAllFinca] @IdUsuario int
as
SELECT
    F.IdFinca,
	COUNT(G.IdGrupo) AS Grupos,
    F.Ubicacion,
    F.Hectareas,
	f.Nombre,
	F.NombreDueño,
	DFF.FotoURL,
	DF.RolUsuario
FROM
    Finca F
LEFT JOIN
    Grupo G ON F.IdFinca = G.IdFinca
	left join 
	DetalleFinca DF on f.IdFinca = DF.IdFinca
	left join DetalleFincaFoto DFF on f.IdFinca = DFF.IdFinca 
	where DF.IdUsuario = @IdUsuario
GROUP BY
    F.IdFinca, F.Ubicacion, F.Hectareas,f.Nombre,F.NombreDueño,DFF.FotoURL,DF.RolUsuario;
GO
/****** Object:  StoredProcedure [dbo].[uspGetAllGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetAllGanado] @IdGrupo int
as
SELECT
    g.*,
    MAX(CASE WHEN tn.tipo = 'Vacuna' THEN tn.fecha END) AS UltimaVacuna,
    MAX(CASE WHEN tn.tipo = 'Desparasitante' THEN tn.fecha END) AS UltimaDesparacitación,
	dg.FotoURL
FROM
    Ganado g
LEFT JOIN
    (SELECT
        t.*,
        ROW_NUMBER() OVER (PARTITION BY t.IdGanado, t.tipo ORDER BY t.fecha DESC) AS rn
    FROM
        Tratamiento t
    WHERE 
        t.tipo IN ('Vacuna', 'Desparasitante')) tn 
ON
    g.idGanado = tn.IdGanado
    AND tn.rn = 1
	left join DetalleGanado dg on g.IdGanado = dg.IdGanado
	where g.IdGrupo = @IdGrupo
GROUP BY
    g.idGanado, g.Peso, g.Tipo,g.fechanacimiento,g.Raza,g.IdMadre,g.IdPadre,g.idGrupo,g.Estado,dg.FotoURL;
GO
/****** Object:  StoredProcedure [dbo].[uspGetAllGrupos]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetAllGrupos] @IdFinca int
as
SELECT
    Gr.*,
    COUNT(G.idganado) AS CantidadDeGanados,
	Dg.FotoURL
FROM
    Grupo Gr
LEFT JOIN
    Ganado G ON Gr.idgrupo = G.idgrupo
	left join DetalleGrupoFoto Dg on Dg.IdGrupo = Gr.IdGrupo
	where Gr.IdFinca = @IdFinca
GROUP BY
    Gr.idgrupo,Gr.Nombre,Gr.IdFinca,Dg.FotoURL
GO
/****** Object:  StoredProcedure [dbo].[uspGetFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetFinca] @Id int
as
select f.*,df.FotoURL from Finca f left join DetalleFincaFoto df on f.IdFinca=df.IdFinca where f.IdFinca = @Id
GO
/****** Object:  StoredProcedure [dbo].[uspGetGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetGanado] @Id varchar(40)
as
SELECT
    g.*,
    MAX(CASE WHEN tn.tipo = 'Vacuna' THEN tn.fecha END) AS UltimaVacuna,
    MAX(CASE WHEN tn.tipo = 'Desparasitante' THEN tn.fecha END) AS UltimaDesparacitación,
	dg.FotoURL
FROM
    Ganado g
LEFT JOIN
    (SELECT
        t.*,
        ROW_NUMBER() OVER (PARTITION BY t.IdGanado, t.tipo ORDER BY t.fecha DESC) AS rn
    FROM
        Tratamiento t
    WHERE 
        t.tipo IN ('Vacuna', 'Desparasitante')) tn 
ON
    g.idGanado = tn.IdGanado
    AND tn.rn = 1
	left join DetalleGanado dg on g.IdGanado = dg.IdGanado
	where g.IdGanado = @Id
GROUP BY
    g.idGanado, g.Peso, g.Tipo,g.fechanacimiento,g.Raza,g.IdMadre,g.IdPadre,g.idGrupo,g.Estado,dg.FotoURL;
GO
/****** Object:  StoredProcedure [dbo].[uspGetGanadoRaza]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspGetGanadoRaza] @Raza varchar(40),@IdGrupo int
as
select g.*,dg.FotoURL from Ganado g left join DetalleGanado dg on g.IdGanado=dg.IdGanado where g.Raza = @Raza and g.IdGrupo = @IdGrupo
GO
/****** Object:  StoredProcedure [dbo].[uspGetGrupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetGrupo] @Id int
as
SELECT
    Gr.*,
    COUNT(G.idganado) AS CantidadDeGanados,
	Dg.FotoURL
FROM
    Grupo Gr
LEFT JOIN
    Ganado G ON Gr.idgrupo = G.idgrupo
	left join DetalleGrupoFoto Dg on Dg.IdGrupo = Gr.IdGrupo
	where Gr.IdGrupo = @Id
GROUP BY
    Gr.idgrupo,Gr.Nombre,Gr.IdFinca,Dg.FotoURL
GO
/****** Object:  StoredProcedure [dbo].[uspGrafPartesDañadas]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspGrafPartesDañadas] @IdUsuario int
as
select P.NombreParte,COUNT(*) as cantidad from (select P.* from DetalleFinca DF inner join Finca F on DF.IdFinca=F.IdFinca 
inner join Grupo G on G.IdFinca=F.IdFinca inner join 
Ganado Ga on Ga.IdGrupo = G.IdGrupo inner join ProblemaFisico P on Ga.IdGanado = P.IdGanado where DF.IdUsuario = @IdUsuario) P 
group by P.NombreParte
GO
/****** Object:  StoredProcedure [dbo].[uspGrafPartos]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspGrafPartos] @fechainicial date, @fechafinal date, @IdUsuario int
as select Exitoso,COUNT(*) as cantidad from (select P.* from DetalleFinca DF inner join Finca F on DF.IdFinca=F.IdFinca 
inner join Grupo G on G.IdFinca=F.IdFinca inner join 
Ganado Ga on Ga.IdGrupo = G.IdGrupo inner join Parto P on Ga.IdGanado = P.IdGanado where DF.IdUsuario = @IdUsuario) P
where P.Fecha between @fechainicial And @fechafinal  group by Exitoso
GO
/****** Object:  StoredProcedure [dbo].[uspGrafVacunacion]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspGrafVacunacion] @IdUsuario int
as
 select G.Tipo,COUNT(*) as NoVacunados from (select  R.IdGanado,F.Tipo,Fecha from Recordatorio R 
left join Farmaco F on R.IdFarmaco=F.IdFarmaco where  F.Tipo = 'Vacuna' and Fecha < GETDATE()) RF 
left join (select Ga.* from DetalleFinca DF inner join Finca F on DF.IdFinca=F.IdFinca 
inner join Grupo G on G.IdFinca=F.IdFinca inner join 
Ganado Ga on Ga.IdGrupo = G.IdGrupo where DF.IdUsuario = @IdUsuario) G on RF.IdGanado = G.IdGanado 
group by G.Tipo
GO
/****** Object:  StoredProcedure [dbo].[uspIngresarUsuario]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspIngresarUsuario]
						@correo varchar(200),
						@contraseña varchar(200),
						@cargo varchar(30),
						@nombreUsuario varchar(30)
as
	
	if exists(select * from Usuario where Correo = @correo)
		THROW 50000, 'Ese correo ya está en uso por otro usuario', 1;
	else
	begin
		if exists(select * from Usuario where NombreUsuario = @nombreUsuario)
			THROW 50000, 'Ese nombre de usuario ya está en uso por otro usuario', 1;
		else
			BEGIN TRANSACTION;
				Open symmetric key SK DECRYPTION BY PASSWORD='p4ssw#rDp4ssw#rD'
				DECLARE @UltimoID INT
				insert Usuario values (@nombreUsuario, 
				ENCRYPTBYKEY(KEY_GUID('SK'), CONVERT(VARBINARY(60),@contraseña)), @correo, 1, @cargo)
				close symmetric key SK
				IF @@ERROR <> 0
				BEGIN
					ROLLBACK TRANSACTION;
					RETURN;
				END
			SET @UltimoID = SCOPE_IDENTITY();
			COMMIT TRANSACTION;
			SELECT @UltimoID AS UltimoID;
	end
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarDetalleFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsertarDetalleFinca] @IdFinca int,@IdUsuario int, @Fecha date, @rol varchar(30)
as
insert DetalleFinca values(@IdUsuario,@IdFinca,@Fecha, @rol)
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarDetalleFincaFoto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsertarDetalleFincaFoto] @IdFinca int, @FotoURL varchar(max)
as 
insert DetalleFincaFoto values(@IdFinca,@FotoURL)
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarDetalleGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsertarDetalleGanado] @IdGanado varchar(30), @FotoURL varchar(max)
as
insert DetalleGanado values (@IdGanado,@FotoURL)
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarDetalleGrupoFoto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsertarDetalleGrupoFoto] @IdGrupo int, @FotoURL varchar(max)
as 
insert DetalleGrupoFoto values(@IdGrupo,@FotoURL)
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarFarmaco]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarFarmaco]
			@nombre varchar(30), @proveedor varchar(30), @tipo varchar(30), @unidadMedida varchar(10),
			@fechaCaducidad date, @fechaEntrega date, @precio float(2), @cantidad int, @fotoUrl varchar(255),
			@idFinca int
as
	BEGIN TRANSACTION;
	DECLARE @UltimoID INT
	insert into Farmaco values (@nombre, @proveedor, @tipo, @unidadMedida, @fechaCaducidad, @fechaEntrega,
								@precio, @cantidad, @fotoUrl, @idFinca, 1)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION;
		RETURN;
	END
	SET @UltimoID = SCOPE_IDENTITY();
	COMMIT TRANSACTION;
	SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsertarFinca] @Nombre varchar(50),@Ubicacion varchar(100), @Hectareas float(2), @NombreDueño varchar(50)
as
BEGIN TRANSACTION;
DECLARE @UltimoID INT
insert Finca values(@Nombre,@Ubicacion,@Hectareas,@NombreDueño)
IF @@ERROR <> 0
BEGIN
	ROLLBACK TRANSACTION;
	RETURN;
END
SET @UltimoID = SCOPE_IDENTITY();
COMMIT TRANSACTION;
SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarGanado] @idGanado varchar(30),@raza varchar(40), @peso float(2), @fechaNacimiento date,
							@tipo varchar(30), @idPadre varchar(30), @idMadre varchar(30),
							@idGrupo int,@Estado varchar(30)
as
	--BEGIN TRANSACTION;
	--DECLARE @UltimoID INT
	
	--IF @@ERROR <> 0
	--BEGIN
	--	ROLLBACK TRANSACTION;
	--	RETURN;
	--END
	--SET @UltimoID = SCOPE_IDENTITY();
	--COMMIT TRANSACTION;
	--SELECT @UltimoID AS UltimoID;
	insert into Ganado values(@idGanado,@raza, @peso, @fechaNacimiento, @tipo, @idPadre, @idMadre, @idGrupo, @Estado)
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarGrupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsertarGrupo] @Nombre varchar(50),@IdFinca int
as
BEGIN TRANSACTION;
DECLARE @UltimoID INT
insert Grupo values(@Nombre,@IdFinca)
IF @@ERROR <> 0
BEGIN
	ROLLBACK TRANSACTION;
	RETURN;
END
SET @UltimoID = SCOPE_IDENTITY();
COMMIT TRANSACTION;
SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarInseminacion]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarInseminacion] @idGanado varchar(30), @fecha date
as
	BEGIN TRANSACTION;
	DECLARE @UltimoID INT
	insert into Inseminacion values (@idGanado, @fecha)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION;
		RETURN;
	END
	SET @UltimoID = SCOPE_IDENTITY();
	COMMIT TRANSACTION;
	SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarParto]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarParto] @idGanado varchar(30), @tipo varchar(30), @exitoso bit, @fecha date
as
	BEGIN TRANSACTION;
	DECLARE @UltimoID INT
	insert into Parto values (@idGanado, @tipo, @exitoso, @fecha)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION;
		RETURN;
	END
	SET @UltimoID = SCOPE_IDENTITY();
	COMMIT TRANSACTION;
	SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarProblemaFisico]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarProblemaFisico] @idGanado varchar(30), @nombreParte varchar(30), @descripcion varchar(100)
as
	BEGIN TRANSACTION;
	DECLARE @UltimoID INT
	insert into ProblemaFisico values(@idGanado, @nombreParte, @descripcion)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION;
		RETURN;
	END
	SET @UltimoID = SCOPE_IDENTITY();
	COMMIT TRANSACTION;
	SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarRecordatorio]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarRecordatorio] @fecha date, @titulo varchar(50), @descripcion varchar(100), @idGanado varchar(30), @idFarmaco int
as
	insert into Recordatorio values (@fecha, @titulo, @descripcion, @idGanado, @idFarmaco)
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarTratamiento]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInsertarTratamiento] @idGanado varchar(30), @idFarmaco int, @fecha date, @tipo varchar(30),
								@dosis float(2), @observacion varchar(50), @areaAplicacion varchar(30)
as
	BEGIN TRANSACTION;
	DECLARE @UltimoID INT
	insert into Tratamiento values(@idGanado, @idFarmaco, @fecha, @tipo, @dosis, @observacion, @areaAplicacion)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION;
		RETURN;
	END
	SET @UltimoID = SCOPE_IDENTITY();
	COMMIT TRANSACTION;
	SELECT @UltimoID AS UltimoID;
GO
/****** Object:  StoredProcedure [dbo].[uspInvitarAFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspInvitarAFinca] @idFinca int, @idUsuarioCreador int, @rolAsignado varchar(50)
as
	if not exists (select IdFinca from Finca where IdFinca = @idFinca)
		THROW 50000, 'La finca no existe', 1;
	if not exists (select IdUsuario from Usuario where IdUsuario = @idUsuarioCreador)
		THROW 50000, 'El usuario no existe', 1;
	if not exists (select IdFinca from DetalleFinca where IdUsuario = @idUsuarioCreador and 
					IdFinca = @idFinca) 
					--and RolUsuario<>'Administrador')
		throw 50000, 'El usuario no tiene permiso para realizar esta acción', 1;
	declare @horalimite datetime = DATEADD(HOUR, 12, getdate())
	set @rolAsignado = LOWER(@rolAsignado)
	declare @rolNum int = case @rolAsignado
							when 'creador' then 1
							when 'visitante' then 2
							when 'dueño' then 3
							when 'técnico' then 4
							end
	declare @cadena varchar(255) = concat (@idUsuarioCreador,'-',@idFinca,'_',CONVERT(VARCHAR(20), @horalimite, 120),'/',@rolnum)
	SELECT (
    SELECT CAST(@cadena AS VARBINARY(MAX)) FOR XML PATH(''), BINARY BASE64
	) AS Token;
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerDocumento]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspObtenerDocumento] @id int
as
	select [URL]
	from Documento where Id = @id
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerDocumentos]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspObtenerDocumentos]
as
	select Id, Titulo, Descripcion, FotoURL
	from Documento
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerFarmacosPorFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspObtenerFarmacosPorFinca] @idFinca int
as
	select* from Farmaco where IdFinca = @idFinca
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerPartoPorGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspObtenerPartoPorGanado] @idGanado varchar(30)
as
	select * from Parto where IdGanado = @idGanado
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerProblemaFisicoPorGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspObtenerProblemaFisicoPorGanado] @idGanado varchar(30)
as
	select * from ProblemaFisico where IdGanado = @idGanado
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerRecordatorioPorGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspObtenerRecordatorioPorGanado] @idGanado varchar(30)
as
	select *
	from Recordatorio 
	where IdGanado = @idGanado
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerTratamientoPorFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspObtenerTratamientoPorFinca] @idFinca int
as
	select t.IdTratamiento, t.IdGanado, f.Nombre as NombreFarmaco,
	f.IdFarmaco,
	Fecha, t.TIpo, Dosis, Observacion, AreaAplicacion
	from Tratamiento t
	inner join Ganado g 
	on g.IdGanado = t.IdGanado
	inner join Farmaco f 
	on f.IdFarmaco = t.IdFarmaco
	inner join Grupo gr
	on gr.IdGrupo = g.IdGrupo
	where gr.IdFinca = @idFinca
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerTratamientoPorGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspObtenerTratamientoPorGanado] @idGanado varchar(30)
as
	select IdTratamiento, IdGanado, f.Nombre as NombreFarmaco,
	f.IdFarmaco,
	Fecha, t.TIpo, Dosis, Observacion, AreaAplicacion
	from Tratamiento t 
	inner join Farmaco f
	on f.IdFarmaco = t.IdFarmaco
	where IdGanado = @idGanado 
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerTratamientoPorGrupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspObtenerTratamientoPorGrupo] @idGrupo int
as	
	select t.IdTratamiento, t.IdGanado, f.Nombre as NombreFarmaco,
	f.IdFarmaco,
	Fecha, t.TIpo, Dosis, Observacion, AreaAplicacion
	from Tratamiento t
	inner join Ganado g 
	on g.IdGanado = t.IdGanado
	inner join Farmaco f 
	on f.IdFarmaco = t.IdFarmaco
	where g.IdGrupo = @idGrupo
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerTratamientoPorUsuario]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspObtenerTratamientoPorUsuario] @idUsuario int
as
	select t.IdTratamiento, t.IdGanado, f.Nombre as NombreFarmaco,
	f.IdFarmaco,
	t.Fecha, t.TIpo, Dosis, Observacion, AreaAplicacion
	from Tratamiento t
	inner join Ganado g 
	on g.IdGanado = t.IdGanado
	inner join Farmaco f 
	on f.IdFarmaco = t.IdFarmaco
	inner join Grupo gr
	on gr.IdGrupo = g.IdGrupo
	inner join DetalleFinca df
	on df.IdFinca = gr.IdFinca 
	where df.IdUsuario = @idUsuario
GO
/****** Object:  StoredProcedure [dbo].[uspUltimoIdFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspUltimoIdFinca]
as
SELECT TOP 1 IdFinca
FROM Finca
ORDER BY IdFinca DESC;
GO
/****** Object:  StoredProcedure [dbo].[uspUltimoIdGrupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[uspUltimoIdGrupo]
as
SELECT TOP 1 IdGrupo
FROM Grupo
ORDER BY IdGrupo DESC;
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateFinca]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspUpdateFinca] @IdFinca int, @Nombre varchar(50), @Ubicacion varchar(100), @Hectareas int,@NombreDueño varchar(50), @FotoURL varchar(max)
as
Update Finca
set Nombre = @Nombre, Ubicacion = @Ubicacion, Hectareas = @Hectareas, NombreDueño = @NombreDueño
where IdFinca = @IdFinca

Update DetalleFincaFoto
set FotoURL = @FotoURL
where IdFinca = @IdFinca
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateGanado]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspUpdateGanado] @IdGanado varchar(30), @Peso real, @Raza varchar(40), @FechaNacimiento date,@Tipo varchar(50), @FotoURL varchar(max),
@IdMadre int, @IdPadre int, @IdGrupo int, @Estado varchar(30)
as
Update Ganado
set Peso = @Peso, Raza = @Raza, FechaNacimiento = @FechaNacimiento, Tipo = @Tipo, IdMadre = @IdMadre,
IdPadre = @IdPadre, IdGrupo = @IdGrupo, Estado = @Estado
where IdGanado = @IdGanado

Update DetalleGanado
set FotoURL = @FotoURL
where IdGanado = @IdGanado
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateGrupo]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspUpdateGrupo] @IdGrupo int, @Nombre varchar(50), @IdFinca varchar(100), @FotoURL varchar(max)
as
Update Grupo
set Nombre = @Nombre, IdFinca = @IdFinca
where IdGrupo = @IdGrupo

Update DetalleGrupoFoto
set FotoURL = @FotoURL
where IdGrupo = @IdGrupo
GO
/****** Object:  StoredProcedure [dbo].[uspValidarIngreso]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspValidarIngreso] @nombreUsuario varchar(200), @contraseña varchar(max)
as
	Open symmetric key SK DECRYPTION BY PASSWORD='p4ssw#rDp4ssw#rD'
	if exists (select * from Usuario 
				where NombreUsuario = @nombreUsuario 
				and @contraseña = DECRYPTBYKEY(Contraseña)
				and Activo = 1)
	begin
		--select IdUsuario, Rol
		select IdUsuario, NombreUsuario, Cargo
		from Usuario
		where NombreUsuario = @nombreUsuario 
		and @contraseña = DECRYPTBYKEY(Contraseña)
		and Activo = 1
	end
	else
		THROW 50000, 'Acceso denegado', 1;
	close symmetric key SK
GO
/****** Object:  StoredProcedure [dbo].[uspVerificarInvitacion]    Script Date: 23/10/2025 20:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uspVerificarInvitacion] @token varchar(255), @idUsuarioInvitado int
as
	declare @valor varchar(max) = CAST( CAST( @token as XML ).value('.','varbinary(max)') AS varchar(max))
	declare @cadenaFecha varchar(40) = SUBSTRING(@valor, CHARINDEX('_', @valor) + 1, CHARINDEX('/', @valor) - CHARINDEX('_', @valor) - 1)
	declare @fechaLimite datetime = Convert(datetime, @cadenaFecha)
	if(GETDATE()>@fechaLimite)
		throw 50000, 'Este token expiró, no se puede realizar la acción',1
	else
		declare @idUsuarioCreador int = CONVERT(INT, SUBSTRING(@valor, 1, CHARINDEX('-', @valor) - 1))
		declare @idFinca int = CONVERT(INT, SUBSTRING(@valor, CHARINDEX('-', @valor) + 1, CHARINDEX('_', @valor) - CHARINDEX('-', @valor) - 1))
		if exists (select IdFinca from DetalleFinca where IdFinca = @idFinca and IdUsuario = @idUsuarioInvitado)
			throw 50000, 'Ese usuario ya está asociado a esa finca', 1
		declare @rolnum int = CONVERT(INT, SUBSTRING(@valor, CHARINDEX('/', @valor) + 1, LEN(@valor)))
		declare @rol varchar (30) = case @rolnum
									when 1 then 'Creador'
									when 2 then 'Visitante'
									when 3 then 'Dueño'
									when 4 then 'Técnico'
									end
		declare @date date = CONVERT (Date, GETDATE())
		EXEC uspInsertarDetalleFinca @idFinca, @idUsuarioInvitado, @date, @rol
		select @idFinca as Finca
GO
USE [master]
GO
